# Gradle files
.gradle/
build/
*.iml

# Android Studio
.idea/
*.apk
*.aab
*.o
*.so

# Local configuration
local.properties

# Android Profiler
*.trace

# IDE
*.swp
*.swo
*~
.DS_Store

# Captures
/captures

# Keystore
*.jks
*.keystore

# Crashlytics
com_crashlytics_export_strings.xml
crashlytics-build.properties

.kilo/
.claude/
.agents/
functions/